# Qualitative Analysis of Text Data

*intro text

In [1]:
# This code cell will be in every one of our chapters in Jupyter Notebook
# The function allows you to see every line of output when the code has multiple lines
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# Load packages
import pandas as pd

In [2]:
south_america = pd.read_csv('../../Data/ACLED/1900-01-01-2022-04-22-South_America.csv', 
                            usecols= ['event_id_cnty', 'event_date', 'year', 'event_type', 'sub_event_type', 
                                       'actor1', 'actor2', 'country', 'location', 'admin1', 'fatalities', 'notes'])

In [3]:
south_america.head()

,event_id_cnty,event_date,year,event_type,sub_event_type,actor1,actor2,country,admin1,location,notes,fatalities
0,COL10764,15 April 2022,2022,Battles,Armed clash,Gulf Clan,ACSN: Self-Defense Conquerors of Sierra Nevada,Colombia,Magdalena,Cienaga,"On 15 April 2022, in the rural area of Cienaga...",5
1,COL10766,15 April 2022,2022,Riots,Mob violence,Rioters (Colombia),Police Forces of Colombia (2018-),Colombia,Sucre,Santiago De Tolu,"On 15 April 2022, in Santiago De Tolu (Sucre),...",0
2,COL10767,15 April 2022,2022,Strategic developments,Looting/property destruction,Military Forces of Colombia (2018-),Gulf Clan,Colombia,Vichada,Cumaribo,"Property destruction: Around 15 April 2022, in...",0
3,PAR3527,15 April 2022,2022,Strategic developments,Looting/property destruction,Unidentified Armed Group (Paraguay),Civilians (Paraguay),Paraguay,San Pedro,Tacuati,"Looting: On 15 April 2022, in Tacuati (San Ped...",0
4,CHI8633,15 April 2022,2022,Strategic developments,Looting/property destruction,Indigenous Militia (Chile),Civilians (Chile),Chile,Biobio,Los Angeles,"Property destruction: On 15 April 2022, in Los...",0

In [4]:
south_america[['event_date', 'year']] = south_america[['event_date', 'year']].astype(str)

In [5]:
# use pd.str.split() to split the single value in 'date' using the blank space 
south_america['event_date'].str.split(' ')

# you get a list of three, and day is in the '0' index position
south_america['event_date'].str.split(' ').str[0]

0           [15, April, 2022]
1           [15, April, 2022]
2           [15, April, 2022]
3           [15, April, 2022]
4           [15, April, 2022]
                 ...
107233    [01, January, 2018]
107234    [01, January, 2018]
107235    [01, January, 2018]
107236    [01, January, 2018]
107237    [01, January, 2018]
Name: event_date, Length: 107238, dtype: object

0         15
1         15
2         15
3         15
4         15
          ..
107233    01
107234    01
107235    01
107236    01
107237    01
Name: event_date, Length: 107238, dtype: object

In [6]:
# use .insert() to make a new variable 
day = south_america['event_date'].str.split(' ').str[0]
south_america.insert(2, 'day', day)

month = south_america['event_date'].str.split(' ').str[1]
south_america.insert(3, 'month', month)

south_america.head()

,event_id_cnty,event_date,day,month,year,event_type,sub_event_type,actor1,actor2,country,admin1,location,notes,fatalities
0,COL10764,15 April 2022,15,April,2022,Battles,Armed clash,Gulf Clan,ACSN: Self-Defense Conquerors of Sierra Nevada,Colombia,Magdalena,Cienaga,"On 15 April 2022, in the rural area of Cienaga...",5
1,COL10766,15 April 2022,15,April,2022,Riots,Mob violence,Rioters (Colombia),Police Forces of Colombia (2018-),Colombia,Sucre,Santiago De Tolu,"On 15 April 2022, in Santiago De Tolu (Sucre),...",0
2,COL10767,15 April 2022,15,April,2022,Strategic developments,Looting/property destruction,Military Forces of Colombia (2018-),Gulf Clan,Colombia,Vichada,Cumaribo,"Property destruction: Around 15 April 2022, in...",0
3,PAR3527,15 April 2022,15,April,2022,Strategic developments,Looting/property destruction,Unidentified Armed Group (Paraguay),Civilians (Paraguay),Paraguay,San Pedro,Tacuati,"Looting: On 15 April 2022, in Tacuati (San Ped...",0
4,CHI8633,15 April 2022,15,April,2022,Strategic developments,Looting/property destruction,Indigenous Militia (Chile),Civilians (Chile),Chile,Biobio,Los Angeles,"Property destruction: On 15 April 2022, in Los...",0

In [7]:
south_america.drop(columns='event_date', inplace=True)
south_america.head()

,event_id_cnty,day,month,year,event_type,sub_event_type,actor1,actor2,country,admin1,location,notes,fatalities
0,COL10764,15,April,2022,Battles,Armed clash,Gulf Clan,ACSN: Self-Defense Conquerors of Sierra Nevada,Colombia,Magdalena,Cienaga,"On 15 April 2022, in the rural area of Cienaga...",5
1,COL10766,15,April,2022,Riots,Mob violence,Rioters (Colombia),Police Forces of Colombia (2018-),Colombia,Sucre,Santiago De Tolu,"On 15 April 2022, in Santiago De Tolu (Sucre),...",0
2,COL10767,15,April,2022,Strategic developments,Looting/property destruction,Military Forces of Colombia (2018-),Gulf Clan,Colombia,Vichada,Cumaribo,"Property destruction: Around 15 April 2022, in...",0
3,PAR3527,15,April,2022,Strategic developments,Looting/property destruction,Unidentified Armed Group (Paraguay),Civilians (Paraguay),Paraguay,San Pedro,Tacuati,"Looting: On 15 April 2022, in Tacuati (San Ped...",0
4,CHI8633,15,April,2022,Strategic developments,Looting/property destruction,Indigenous Militia (Chile),Civilians (Chile),Chile,Biobio,Los Angeles,"Property destruction: On 15 April 2022, in Los...",0

In [8]:
#south_america.drop(columns='event_date', inplace=True)

event_date = south_america['day']+' '+south_america['month']+' '+south_america['year']
south_america.insert(4, 'event_date', event_date)
south_america.head()

,event_id_cnty,day,month,year,event_date,event_type,sub_event_type,actor1,actor2,country,admin1,location,notes,fatalities
0,COL10764,15,April,2022,15 April 2022,Battles,Armed clash,Gulf Clan,ACSN: Self-Defense Conquerors of Sierra Nevada,Colombia,Magdalena,Cienaga,"On 15 April 2022, in the rural area of Cienaga...",5
1,COL10766,15,April,2022,15 April 2022,Riots,Mob violence,Rioters (Colombia),Police Forces of Colombia (2018-),Colombia,Sucre,Santiago De Tolu,"On 15 April 2022, in Santiago De Tolu (Sucre),...",0
2,COL10767,15,April,2022,15 April 2022,Strategic developments,Looting/property destruction,Military Forces of Colombia (2018-),Gulf Clan,Colombia,Vichada,Cumaribo,"Property destruction: Around 15 April 2022, in...",0
3,PAR3527,15,April,2022,15 April 2022,Strategic developments,Looting/property destruction,Unidentified Armed Group (Paraguay),Civilians (Paraguay),Paraguay,San Pedro,Tacuati,"Looting: On 15 April 2022, in Tacuati (San Ped...",0
4,CHI8633,15,April,2022,15 April 2022,Strategic developments,Looting/property destruction,Indigenous Militia (Chile),Civilians (Chile),Chile,Biobio,Los Angeles,"Property destruction: On 15 April 2022, in Los...",0

In [9]:
south_america.drop(columns='event_date', inplace=True)

event_date = south_america['day'].str.cat(south_america[['month','year']], sep=' ')
south_america.insert(4, 'event_date', event_date)
south_america.head()

,event_id_cnty,day,month,year,event_date,event_type,sub_event_type,actor1,actor2,country,admin1,location,notes,fatalities
0,COL10764,15,April,2022,15 April 2022,Battles,Armed clash,Gulf Clan,ACSN: Self-Defense Conquerors of Sierra Nevada,Colombia,Magdalena,Cienaga,"On 15 April 2022, in the rural area of Cienaga...",5
1,COL10766,15,April,2022,15 April 2022,Riots,Mob violence,Rioters (Colombia),Police Forces of Colombia (2018-),Colombia,Sucre,Santiago De Tolu,"On 15 April 2022, in Santiago De Tolu (Sucre),...",0
2,COL10767,15,April,2022,15 April 2022,Strategic developments,Looting/property destruction,Military Forces of Colombia (2018-),Gulf Clan,Colombia,Vichada,Cumaribo,"Property destruction: Around 15 April 2022, in...",0
3,PAR3527,15,April,2022,15 April 2022,Strategic developments,Looting/property destruction,Unidentified Armed Group (Paraguay),Civilians (Paraguay),Paraguay,San Pedro,Tacuati,"Looting: On 15 April 2022, in Tacuati (San Ped...",0
4,CHI8633,15,April,2022,15 April 2022,Strategic developments,Looting/property destruction,Indigenous Militia (Chile),Civilians (Chile),Chile,Biobio,Los Angeles,"Property destruction: On 15 April 2022, in Los...",0

# Regular expressions (regex)

https://cheatography.com/davechild/cheat-sheets/regular-expressions/

## str.contains()

You may wish to search through your open-ended string variables for specific content, the way you would search inside of a document for a specific word. You have already done this in previous chapters with pandas' `str.contains()` function to subset by a specific country name. You can continue using str.contains() to look for observations with a specific word or phrase. Imagine you wished to analyze records of conflict involving the military, you could search for the terms 'navy', 'army' , 'air force', 'military' (and maybe 'police' if appropriate) in the narrative `notes` column using `str.contains()`. Note that we use the symbol `|`, which represents an `OR` condition, for _any_ of the previous terms, not _all_ the terms. The new subset dataframe called `military_conflicts` has 11,411 observations, down from the original 107,238 observations of the `south_america` dataframe.

In [10]:
%%time 
#check how long the query takes

military_conflicts = south_america[(south_america['notes'].str.contains('army|navy|air force|military', case=False))]

military_conflicts['fatalities'].describe()

CPU times: user 862 ms, sys: 0 ns, total: 862 ms
Wall time: 862 ms

count    11411.000000
mean         0.680484
std          1.283108
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max         46.000000
Name: fatalities, dtype: float64

We could also use a regular expression pattern to find the query in less lines of code. With regular expressions, you can ignore upper and lowercase with a global case-insensitive argument `(?i)`, followed by the four terms for armed forces we used above. Each term is separated by the `|` symbol again, and for 'air force' you will need to escape the white space using `\s` instead of a blank space.

In [11]:
%%time 

#check how long the query takes
military_conflicts = south_america[south_america['notes'].str.contains(r'(?i)army|navy|air\sforce|military')]

military_conflicts['fatalities'].describe()

CPU times: user 859 ms, sys: 0 ns, total: 859 ms
Wall time: 862 ms

count    11411.000000
mean         0.680484
std          1.283108
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max         46.000000
Name: fatalities, dtype: float64

The code is very similar although we won't claim its much simpler. It comes down to your comfort and familiarity with regex. We included a `%%time` command at the start of each cell so you could observe any difference in time between commands. Regardless of your preference for a query, there will be times when using regex is unavoidable; when the text you need to extract are patterns and not exact word matches.

## str.extract()

The event_id_cnty variable holds the three letter ISO country code plus the five number unique event id. The pattern is very simple to identify: Three letters from the alphabet, followed by five digits.Consider the first observation for cntry_event_id: 

`COL10767`

We could use any of these patterns to extract the even and ISO. 

- `^.{3}` The first three symbols regardless whether letters or numbers gets country ISO. 
- `[A-Z]+` One or more uppercase letters gets country ISO.
- `[A-Z]{3}` Exactly three uppercase letters gets country ISO.
- `.{5}$` The last five symbols gets event ID.
- `\d+` One or more numbers gets event ID.
- `\d{5}` Exactly five numbers gets event ID. 
- `[^\d]{3}` Three symbols that are __not__ numbers gets country ISO.
- `[^A-Z]{5}` Five symbols that are __not__ letters gets event ID.

try a few of these expressions out. Careful, however, to place the pattern to extract within parentheses. The str.contains() and str.match() functions don't care, but str.extract() will pull a pattern, and thus expects a distinguishing patter group to pull.

In [12]:
# use str_extract()
south_america['event_id_cnty'].str.extract(r'(^.{3})')

          0
0       COL
1       COL
2       COL
3       PAR
4       CHI
...     ...
107233  VEN
107234  GUY
107235  BRA
107236  BRA
107237  BRA

[107238 rows x 1 columns]

In the code cell below you can now create two new columns with extract and insert. You could also use str.split(), which you have used before, and provide a pattern as the delimiter. For now create a vector for either event id and ISO codes with str.extract(). It is important in this case to use the `expand=False` argument to obtain a flat vector to insert. By default the str.extract() function will output a grouped table, which doesn't play well with the insert() function.

In [13]:
country_iso = south_america['event_id_cnty'].str.extract(r'([A-Z]{3})', expand=False)
event_id = south_america['event_id_cnty'].str.extract(r'(\d{5})', expand=False)

south_america.insert(1, 'country iso', country_iso)
south_america.insert(2, 'event id', event_id)
south_america.drop(columns='event_id_cnty', inplace=True)

south_america.head()

,country iso,event id,day,month,year,event_date,event_type,sub_event_type,actor1,actor2,country,admin1,location,notes,fatalities
0,COL,10764,15,April,2022,15 April 2022,Battles,Armed clash,Gulf Clan,ACSN: Self-Defense Conquerors of Sierra Nevada,Colombia,Magdalena,Cienaga,"On 15 April 2022, in the rural area of Cienaga...",5
1,COL,10766,15,April,2022,15 April 2022,Riots,Mob violence,Rioters (Colombia),Police Forces of Colombia (2018-),Colombia,Sucre,Santiago De Tolu,"On 15 April 2022, in Santiago De Tolu (Sucre),...",0
2,COL,10767,15,April,2022,15 April 2022,Strategic developments,Looting/property destruction,Military Forces of Colombia (2018-),Gulf Clan,Colombia,Vichada,Cumaribo,"Property destruction: Around 15 April 2022, in...",0
3,PAR,NaN,15,April,2022,15 April 2022,Strategic developments,Looting/property destruction,Unidentified Armed Group (Paraguay),Civilians (Paraguay),Paraguay,San Pedro,Tacuati,"Looting: On 15 April 2022, in Tacuati (San Ped...",0
4,CHI,NaN,15,April,2022,15 April 2022,Strategic developments,Looting/property destruction,Indigenous Militia (Chile),Civilians (Chile),Chile,Biobio,Los Angeles,"Property destruction: On 15 April 2022, in Los...",0

## done

- str split
- split event date to two day/month columns
- find matches in the notes column for terms regarding the military. use regex and regular string example.

# To-do

- introduce regex! split event_id_cnty to two columns, event id and country_iso
- 
- pandas.to_datetime to combine day moth year three columns ????
- 
- for notes, parse text to make a new column without the date and location info, call it "action".
- 
- for new action column, remove fatalities note.
- 
- for new action column, remove estimated size unkown comment if they dont know the protest size.
- 
- if they do know protest size, make protest size a new column.
- 
- could do a query where you search for shoot and shot, cross-reference fatalities, and crosstabulate shootings with and without fatalities?


the acled notes contain patterns of comments when there are fatalities and arrests, look at the notes column

for pandas strings, pull important lessons from https://pandas.pydata.org/docs/user_guide/text.html

note that the pandas string dtat type and the object datatype have a few subtle differences that do __not__ matter for our lesson. We can ignore it i think. 

for regex, share https://cheatography.com/davechild/cheat-sheets/regular-expressions/